


# services:
#   express-api:
#     build: .
#     container_name: express-api
#     ports:
#       - "3000:3000"
#     env_file:
#       - .env
#     depends_on:
#       - redis
#     dns:
#       - 8.8.8.8
#       - 1.1.1.1
#     networks:
#       - backend

#   redis:
#     image: redis:7-alpine
#     container_name: redis
#     ports:
#       - "6379:6379"
#     volumes:
#       - redis-data:/data
#     networks:
#       - backend

# volumes:
#   redis-data:

# networks:
#   backend:
#     driver: bridge
version: "3.9"

services:
  express-api:
    build: .
    container_name: express-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend



volumes:
  redis-data:

networks:
  backend:
    driver: bridge
