# version: "3.9"

# services:
#   api:
#     build: .
#     container_name: express-api
#     ports:
#       - "3000:3000"
#     env_file:
#       - .env
#     depends_on:
#       - redis
#     dns:
#       - 8.8.8.8
#       - 1.1.1.1

#   redis:
#     image: redis:7-alpine
#     container_name: redis
#     ports:
#       - "6379:6379"
#     volumes:
#       - redis-data:/data

# volumes:
#   redis-data:
# docker-compose.yml
services:
  express-api:
    build: .
    container_name: express-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend

volumes:
  redis-data:

networks:
  backend:
    driver: bridge
